<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six columns">
        <div class="contents">
          <div class="vis" id="vis-1"></div>
          <div class="source">Source: ...</div>
        </div>
      </div>
      <div class="six columns">
        <div class="contents">
          <div class="vis" id="vis-2"></div>
          <div class="source">Source: ...</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        ...
      </div>
    </div>
  </div>
</body>
</html>
