<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="items">
    <div class="item">
      <div class="vis" id="vis-1"></div>
      <div class="source">Source: <a href="http://rss.cnn.com/rss/cnn_topstories.rss" target="_blank">CNN</a></div>
    </div><div class="item">
      <div class="vis" id="vis-2"></div>
      <div class="source">Source: <a href="http://feeds.foxnews.com/foxnews/latest" target="_blank">FOX News</a></div>
    </div>
  </div>
</body>
</html>
